<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>LETS BEGIN YOUR JOURNEY</title>
    <meta name="user_index_page" content="user_index">
    <link rel="/stylesheets/users.scss">
  </head>
  
  <body>
  
    <div id="main_content">
        <div id= "user_related">
          <%= link_to 'create new user', new_user_url, id: "create_new_user_link"%><br>
          <% @users.each do |user| %>
            <div id="user_name_link">
              <%= link_to user.name, user_path(user), id: "link_to_user_name"%>
              <span id="delete_user_link"><%= link_to "delete #{user.name}", user, method: :delete, data: { confirm: "YOU SURE?!?" }%></span>
            </div>
        <% end %>
        </div>
    </div>
    
    </body>
</html>