<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>User Index</title>
    <meta name="user_index_page" content="user_index">
    <link rel="/stylesheets/users.scss">
  </head>

    <body>
      <h1 class="poke_font">All Users</h1><br>
      <%= link_to 'create new user', new_user_url, id: "new_user_button"%><br>
        <% @users.each do |user| %>
            <h3><%= link_to user.name, user_path(user) %></h3><br>
            <%= link_to "delete user", user, method: :delete, data: { confirm: "YOU SURE?!?" } %><br>
        <% end %>
    </body>
</html>