<h1>This is show page for USERS</h1>

<h3>User's name: <%= @user.name %></h3>
<h3>User's Pokemon: 
    <% @user.pokemons.each do |pokemon|%>
        <%= link_to pokemon.name, pokemon_path(pokemon) %>
    <%end%>
</h3>
<%= link_to "READY TO BATTLE", "/users/#{@user.id}/battle"%>
