<h1>This is show page for USERS</h1>

<h3>User's name: <%= @user.name %></h3>
<h3>User's Pokemon: 
    <% @user.pokemons.each do |pokemon|%>
        <%= pokemon.name %><br>
        <%= link_to (image_tag pokemon.img), pokemon_path(pokemon) %>
    <%end%>
</h3>
