<h2>All Pokemon</h2>
  <% @pokemons.each do |pokemon| %>
      <%= link_to pokemon.name, pokemon_path(pokemon) %><br>
      <!-- <%= link_to "Delete", pokemon, method: :delete, data: { confirm: "YOU SURE?!?" } %><br> Why delete pokemon-->
  <% end %>