/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
 
 @font-face {
    font-family: "PFHollow";
    src: url('P_Hollow.ttf')
}
 
@font-face {
    font-family: "PFSolid";
    src: url('P_Solid.ttf')
}

#root_create_user_link {
    text-align: center;
    text-decoration: none;
    font-family: "PFSolid";
    margin-right: 1%;
}

#send_session_user_home_link, #logout_link, #root_log_in_link {
    margin-right: 1%;
    font-family: "PFSolid";
    text-decoration: none;
}
#send_session_user_home_link:hover, #root_create_user_link:hover, #logout_link:hover, #root_log_in_link:hover {
    font-family: "PFHollow";
}

#delete_user_link {
    text-decoration: none;
    font-size: 100%;
    font-family: "PFSolid";
    padding-left: 10%;
    text-align: center;
    color: #e64110;
  }
  #delete_user_link:hover {
    color: #ffd510;
    font-family: "PFHollow";
  }

body {
    background-position: center;
    background-repeat: no-repeat;
    background-size: auto;
    font-family: "PFSolid";
}
